<div class="banner">
  <div class="container">
    <h1>There's a drink for every mood or occasion.</h1>

    <p>Find your favorite cocktail recipes below, or add one.</p>
    <a class="btn-banner" href="#"><%= link_to "Add a new Coktail", new_cocktail_path, class: 'btn btn-light' %></a>
    <p><i class="fas fa-angle-down" id="arrow"></i></p> 

  </div>
</div>

<h2>- COCKTAILS -</h2>
<div class="cocktails-list">
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <% if cocktail.photo.presence.nil? %>
            <div class="card-category " style="background-image: url(https://res.cloudinary.com/ddllhchge/image/upload/v1574392928/samples/animals/reindeer.jpg)">
                <h2 id="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
            <% else %>
            <div class="card-category " style="background-image: url(<%= cl_image_path cocktail.photo %>)">
                <h2 id="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

